{
    "extends": ["standard-with-typescript"],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "@typescript-eslint/explicit-function-return-type": "off",
        "@typescript-eslint/naming-convention": "off",
        "@typescript-eslint/strict-boolean-expressions": "off",
        "@typescript-eslint/prefer-optional-chain": "warn",
        "eqeqeq": "warn",
        "no-mixed-operators": "warn",
        "@typescript-eslint/restrict-plus-operands": "off",
        "new-cap": "warn",
        "no-case-declarations": "warn",
        "no-labels": "warn",
        "no-cond-assign": "warn",
        "no-fallthrough": "warn",
        "@typescript-eslint/brace-style": "warn",
        "no-return-assign": "warn",
        "@typescript-eslint/no-this-alias": "warn",
        "@typescript-eslint/restrict-template-expressions": "off",
        "@typescript-eslint/consistent-type-assertions": "warn",
        "@typescript-eslint/no-throw-literal": "off",
        "no-void": "warn",
        "import/no-cycle": "error"
    }
}
